Repository jesse1412/Hathor: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, cargo-test, sqlfluff-fix

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets --all -- -D warnings
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --
  pass_filenames: false
  language: system

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  require_serial: true
  additional_dependencies:
  - sqlfluff

Add sqlfluff pre-commit hook
  .pre-commit-config.yaml
Due: none

Add method to add songs to playlists, implements #6
  crates/hathor-songs/src/database.rs
  crates/hathor-songs/src/database/playlists.rs
  crates/hathor-songs/src/database/playlists/add_song_to_playlist.sql
  crates/hathor-songs/src/database/playlists/initialise_playlists_table.sql
  crates/hathor-songs/src/database/songs.rs
Due: cargo-fmt, clippy, cargo-test, sqlfluff-fix

Add a method to get songs from a playlist, implements #9
  crates/hathor-songs/src/audio.rs
  crates/hathor-songs/src/database.rs
  crates/hathor-songs/src/database/playlists.rs
  crates/hathor-songs/src/database/playlists/get_songs_from_playlist.sql
  crates/hathor-songs/src/database/playlists/initialise_playlists_table.sql
  crates/hathor-songs/src/database/songs.rs
  crates/hathor/src/main.rs
Due: cargo-fmt, clippy, cargo-test, sqlfluff-fix

Update and add dependencies for audio playback
  Cargo.lock
  crates/hathor-songs/Cargo.toml
Due: none

Update github workflows to install libpulse dependency
  .github/workflows/rust.yml
Due: none

Split audio.rs into module files
  crates/hathor-songs/src/audio.rs
  crates/hathor-songs/src/audio/from_file.rs
Due: cargo-fmt, clippy, cargo-test

Add audio playback functionality, implements #15
  crates/hathor-songs/src/audio.rs
  crates/hathor-songs/src/audio/output.rs
  crates/hathor-songs/src/audio/playback.rs
  crates/hathor-songs/src/audio/playback_manager.rs
  crates/hathor-songs/src/audio/resampler.rs
  crates/hathor/src/main.rs
Due: cargo-fmt, clippy, cargo-test

Change to always refer to audios rather than songs, implements #32
  Cargo.lock
  crates/hathor-audios/Cargo.toml
  crates/hathor-audios/src/audio.rs
  crates/hathor-audios/src/audio/from_file.rs
  crates/hathor-audios/src/audio/output.rs
  crates/hathor-audios/src/audio/playback.rs
  crates/hathor-audios/src/audio/playback_manager.rs
  crates/hathor-audios/src/audio/resampler.rs
  crates/hathor-audios/src/database.rs
  crates/hathor-audios/src/database/audio_files.rs
  crates/hathor-audios/src/database/audio_files/.sqlfluff
  crates/hathor-audios/src/database/audio_files/get_audio_by_hash.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_album_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_artist_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_title.sql
  crates/hathor-audios/src/database/audio_files/initialise_audios_table.sql
  crates/hathor-audios/src/database/audio_files/insert_audio.sql
  crates/hathor-audios/src/database/initialise_db.rs
  crates/hathor-audios/src/database/playlists.rs
  crates/hathor-audios/src/database/playlists/add_audio_to_playlist.sql
  crates/hathor-audios/src/database/playlists/get_audios_from_playlist.sql
  crates/hathor-audios/src/database/playlists/initialise_playlists_table.sql
  crates/hathor-audios/src/database/user_media_folders.rs
  crates/hathor-audios/src/database/user_media_folders/initialise_user_media_folders_table.sql
  crates/hathor-audios/src/file_management.rs
  crates/hathor-audios/src/lib.rs
  crates/hathor-songs/src/database/playlists/get_songs_from_playlist.sql
  crates/hathor-songs/src/database/songs.rs
  crates/hathor-songs/src/database/songs/get_song_by_hash.sql
  crates/hathor-songs/src/database/songs/get_songs_by_album_name.sql
  crates/hathor-songs/src/database/songs/get_songs_by_artist_name.sql
  crates/hathor-songs/src/database/songs/get_songs_by_title.sql
  crates/hathor/Cargo.toml
  crates/hathor/src/main.rs
Due: cargo-fmt, clippy, cargo-test, sqlfluff-fix

Update sqlfluff rules --no-verify
  .sqlfluff
  crates/hathor-audios/src/database/audio_files/.sqlfluff
Due: none

Apply new sqlfluff rules
  crates/hathor-audios/src/database/audio_files/get_audios_by_title.sql
  crates/hathor-audios/src/database/audio_files/initialise_audios_table.sql
  crates/hathor-audios/src/database/audio_files/insert_audio.sql
  crates/hathor-audios/src/database/playlists/add_audio_to_playlist.sql
  crates/hathor-audios/src/database/playlists/get_audios_from_playlist.sql
  crates/hathor-audios/src/database/playlists/initialise_playlists_table.sql
  crates/hathor-audios/src/database/user_media_folders/initialise_user_media_folders_table.sql
Due: sqlfluff-fix

Add a way for Hathor to handle same-files in different locations, implements #31
  crates/hathor-audios/src/audio.rs
  crates/hathor-audios/src/database/audio_files.rs
  crates/hathor-audios/src/database/audio_files/get_audio_by_hash.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_album_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_artist_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_title.sql
  crates/hathor-audios/src/database/audio_files/initialise_audio_files_table.sql
  crates/hathor-audios/src/database/audio_files/initialise_audios_table.sql
  crates/hathor-audios/src/database/audio_files/insert_audio.sql
  crates/hathor-audios/src/database/audio_files/insert_audio_file.sql
  crates/hathor-audios/src/database/initialise_db.rs
  crates/hathor-audios/src/database/playlists/get_audios_from_playlist.sql
  test_media_files/audio/albums/album/test2.mp3
Due: cargo-fmt, clippy, cargo-test, sqlfluff-fix

Move contributing section to it's own file
  CONTRIBUTING.md
  README.md
Due: none

Start work on rstest integration
  Cargo.lock
  crates/hathor-audios/Cargo.toml
  crates/hathor-audios/src/fixtures.rs
  crates/hathor-audios/src/lib.rs
Due: cargo-fmt, clippy, cargo-test

Add import media (WIP)
  crates/hathor-audios/src/file_management.rs
  test_media_files/audio/albums/album_bad_files/bad.aac
  test_media_files/audio/albums/album_bad_files/bad.adpcm
  test_media_files/audio/albums/album_bad_files/bad.alac
  test_media_files/audio/albums/album_bad_files/bad.flac
  test_media_files/audio/albums/album_bad_files/bad.mkv
  test_media_files/audio/albums/album_bad_files/bad.mp1
  test_media_files/audio/albums/album_bad_files/bad.mp2
  test_media_files/audio/albums/album_bad_files/bad.mp3
  test_media_files/audio/albums/album_bad_files/bad.mp4
  test_media_files/audio/albums/album_bad_files/bad.ogg
  test_media_files/audio/albums/album_bad_files/bad.vorbis
  test_media_files/audio/albums/album_bad_files/bad.wav
  test_media_files/audio/albums/album_bad_files/bad.webm
  test_media_files/audio/albums/album_split/a/test.mp3
  test_media_files/audio/albums/album_split/b/test2.mp3
Due: cargo-fmt, clippy, cargo-test

Utilise results move over unwraps when constructing Audio from file
  crates/hathor-audios/src/audio/from_file.rs
Due: cargo-fmt, clippy, cargo-test

Fix audio gets having limit 1 in SQL
  crates/hathor-audios/src/database/audio_files/get_audios_by_album_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_artist_name.sql
  crates/hathor-audios/src/database/audio_files/get_audios_by_title.sql
Due: sqlfluff-fix

Integrate rstest, implements #39
  Cargo.lock
  crates/hathor-audios/Cargo.toml
  crates/hathor-audios/src/audio/from_file.rs
  crates/hathor-audios/src/database.rs
  crates/hathor-audios/src/database/audio_files.rs
  crates/hathor-audios/src/database/playlists.rs
  crates/hathor-audios/src/fixtures.rs
  crates/hathor-audios/src/lib.rs
  test_media_files/audio/albums/album_bad_files/bad.aac
  test_media_files/audio/albums/album_bad_files/bad.adpcm
  test_media_files/audio/albums/album_bad_files/bad.alac
  test_media_files/audio/albums/album_bad_files/bad.flac
  test_media_files/audio/albums/album_bad_files/bad.mkv
  test_media_files/audio/albums/album_bad_files/bad.mp1
  test_media_files/audio/albums/album_bad_files/bad.mp2
  test_media_files/audio/albums/album_bad_files/bad.mp3
  test_media_files/audio/albums/album_bad_files/bad.mp4
  test_media_files/audio/albums/album_bad_files/bad.ogg
  test_media_files/audio/albums/album_bad_files/bad.vorbis
  test_media_files/audio/albums/album_bad_files/bad.wav
  test_media_files/audio/albums/album_bad_files/bad.webm
  test_media_files/audio/albums/album_split/a/test.mp3
  test_media_files/audio/albums/album_split/b/test2.mp3
Due: cargo-fmt, clippy, cargo-test

Add file_management.rs tests
  crates/hathor-audios/src/file_management.rs
Due: cargo-fmt, clippy, cargo-test

Add import media (WIP)
  crates/hathor-audios/src/file_management.rs
Due: cargo-fmt, clippy, cargo-test

update
  crates/hathor-audios/src/file_management.rs
Due: cargo-fmt, clippy, cargo-test

Add sleeps to audio command handling loop when paused
  crates/hathor-audios/src/audio/playback.rs
Due: cargo-fmt, clippy, cargo-test

temp
  crates/hathor-audios/src/database/user_media_folders.rs
  crates/hathor-audios/src/database/user_media_folders/insert_user_media_folder.sql
  crates/hathor-audios/src/file_management.rs
Due: cargo-fmt, clippy, cargo-test, sqlfluff-fix

Path conditions:
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  sqlfluff-fix: any of: \.sql$
